header {
    background-color: black;
    color: white;
}

.container h1 {
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

header .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    color: white;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
}